* {
  margin: 0, auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  background-image: url(./images/wallpapers_16569.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#formToDo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 100px;
  left: 50px;
  margin: 0;
  width: 400px;
  border: 2px solid rgba(255, 255, 255, 0.726);
  border-radius: 5%;
  background-color: rgba(174, 194, 175, 0.589);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  -webkit-box-shadow: 30px 30px 35px rgba(0, 0, 0, 0.25);
          box-shadow: 30px 30px 35px rgba(0, 0, 0, 0.25);
  font-family: "Yusei Magic", sans-serif;
  color: #0c380c;
}

.formToDo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 100px;
  left: 50px;
  margin: 0;
  width: 400px;
  border: 2px solid rgba(255, 255, 255, 0.726);
  border-radius: 5%;
  background-color: rgba(174, 194, 175, 0.589);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  -webkit-box-shadow: 30px 30px 35px rgba(0, 0, 0, 0.25);
          box-shadow: 30px 30px 35px rgba(0, 0, 0, 0.25);
  font-family: "Yusei Magic", sans-serif;
  color: #0c380c;
}

#formInProgress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 100px;
  left: 500px;
  margin: 0;
  width: 400px;
  border: 2px solid rgba(255, 255, 255, 0.726);
  border-radius: 5%;
  background-color: rgba(174, 194, 175, 0.589);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  -webkit-box-shadow: 30px 30px 35px rgba(0, 0, 0, 0.25);
          box-shadow: 30px 30px 35px rgba(0, 0, 0, 0.25);
  font-family: "Yusei Magic", sans-serif;
  color: #bac700;
}

#formDone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 100px;
  left: 950px;
  margin: 0;
  width: 400px;
  border: 2px solid rgba(255, 255, 255, 0.726);
  border-radius: 5%;
  background-color: rgba(174, 194, 175, 0.589);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  -webkit-box-shadow: 30px 30px 35px rgba(0, 0, 0, 0.25);
          box-shadow: 30px 30px 35px rgba(0, 0, 0, 0.25);
  font-family: "Yusei Magic", sans-serif;
  color: #00c400;
}

#formDeleted {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 100px;
  left: 1400px;
  margin: 0;
  width: 400px;
  border: 2px solid rgba(255, 255, 255, 0.726);
  border-radius: 5%;
  background-color: rgba(174, 194, 175, 0.589);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  -webkit-box-shadow: 30px 30px 35px rgba(0, 0, 0, 0.25);
          box-shadow: 30px 30px 35px rgba(0, 0, 0, 0.25);
  font-family: "Yusei Magic", sans-serif;
  color: #9c0000;
}

input {
  height: 20%;
  width: 60%;
  margin: 0.3rem;
  outline: none;
  border: none;
  border-bottom: 2px solid white;
  background-color: transparent;
  border-radius: 2%;
  font-family: "Yusei Magic", sans-serif;
  color: #0c380c;
  -webkit-box-shadow: 30px 30px 35px rgba(0, 0, 0, 0.25);
          box-shadow: 30px 30px 35px rgba(0, 0, 0, 0.25);
}

button {
  margin: 1rem;
  cursor: pointer;
  border: 3px solid white;
  border-radius: 8%;
  background-color: rgba(173, 247, 62, 0.925);
  font-family: "Yusei Magic", sans-serif;
  color: #0c380c;
  text-align: center;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn__pancil {
  background-color: transparent;
  width: 22px;
  height: 22px;
  background-image: url(./images/edit-button.svg);
  background-size: cover;
  outline: none;
  border: none;
}

.btn__clear {
  background-color: transparent;
  width: 22px;
  height: 22px;
  background-image: url(./images/clear.svg);
  background-size: cover;
  outline: none;
  border: none;
}

#btn__checked {
  background-color: transparent;
  width: 22px;
  height: 22px;
  background-image: url(./images/checked.svg);
  background-size: cover;
  outline: none;
  border: none;
}

.heading__task {
  background-color: white;
  font-family: "Yusei Magic", sans-serif;
  color: #0c380c;
}

.description__task {
  background-color: white;
  font-family: "Yusei Magic", sans-serif;
  color: #0c380c;
}
/*# sourceMappingURL=style.css.map */